# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# ======================
# PyInstaller
# ======================
build/
dist/
*.spec

# ======================
# Test / coverage
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# Logs
# ======================
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/settings.json

# ======================
# Cache / temp
# ======================
*.tmp
*.temp
